/*CONSTANTS OF THE PAGE*/
body{
	background-color: black;
	
	max-height: 100vh;
	cursor:pointer;
}
main{

height:88vh;


}
header{
	height:10vh;
	background: linear-gradient( white,black,black);		
	min-width:360px;
	width:100vw;	
	text-align: center;


}
nav{
	width:100%;

	display:inline-block;	
	background-color:black;
}
#No{
	display:inline-block;
	min-width:360px


}

.No{
	display:inline-block;
	width:80px;
	margin:3px;
	text-align: center;
	height:100px;
	color:beige;
	}


/*LEFT SIDE OF PAGE*/


#right{

	width:50%;
	display: inline-block;
	text-align: center;
	background:;
	/*float:left;*/
	height: 100%;
	vertical-align:top;
}
.info{
	margin:5% 0;
	font-weight: bold;
	text-shadow: 3px 3px beige;
}
.hide{
	display:none;

	
}
#infoList{

	position:absolute;

	transition:5s;
	bottom: 150px;
	margin:30px;
	background-color: white;
	
	
	border: 7px solid darkgreen;
	border-radius: 30px;
	text-align: left;

}
#infoList ul{
	display: inline-block;
	font-family: arial;
	font-size: 120%;
	width:90%;
	margin:10%;
	list-style-type:arabic-indic;

}

.message{
	font-size: 140%;
	font-family:arial;
	margin:3%;
}
#bold{
	float: right;
	margin:10px;
}

#message{
	background-color: white;
	border:13px solid black;
	height:15%;
	width: 95%;
	display:block;
	margin:0 auto;

	/*margin-bottom: 3px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;*/	
}

#clue{
	width:95%;
	height:80%;
	display:inline-block;
	/*background-color: green;*/
	background:cover;	
	border:7px solid black;	
	/*border-bottom-right-radius:20px;*/
	position:relative;
	background-size: cover;
	vertical-align:top;
}

#display{
	opacity:0;
	background-size:contain;
	border-radius: 15px
	
}
#display:hover{
	opacity:1;
}	
.clue{
	height:100%;
	width:100%;

}

.clear{
	background-image: url('images/techy.jpg');
}

.picOne{
	background-image: url('./images/cathederal.jpeg');
}
.picTwo{
	background-image: url('https://tse2.mm.bing.net/th?id=OIP.bGBdSzjuP6bbfhNz80ZXSAEcDb&pid=15.1&P=0&w=300&h=300');
}
.picThree{
	background:url('images/City.jpeg');
}
.picFour{
	background-image: url('images/worldEnd.jpg');
}

.destroyed{
	background-image: url('images/fire.webp')
}



#sideMenu{
	width: 17%;
	min-width: 200px;
	bottom:2px;
	left:3px;
	display:inline-block;
	position:absolute;
	list-style: none;		
	
}

.menu{
	background-color: white;
	height:30px;
	width:80%;
	border:3px solid black;
	margin:5px;
	vertical-align: top;
	text-shadow: 1px 1px black;
	font-family:cursive;
	font-size: 143%;
}
#easy{
	background:linear-gradient( darkgreen,black);
	color: beige;
}
#normal{
	background-color: black;
	color: beige;
}
#hard{
	background: linear-gradient( black,white);
	color:beige;
}
#Info{
	background-color: white;
	height:30px;
	width:80%;
	border:3px solid black;
	margin:5px;
	vertical-align: top;
	text-shadow: 1px 1px black;
	font-family:cursive;
	font-size: 143%;
}
#info:hover{

}


/*RIGHT SIDE OF PAGE*/
#left{
	/*min-width:500px;*/
	width:49%;
	min-width:360px;
	height:100%;
	display: inline-block;
	text-align: center;		
	/*float:left;*/
/*	position: relative;*/
	background: linear-gradient( black,black,black,green,black,black,beige);
	vertical-align:top;

}
/*#stats{
	float:right;
	border-radius:20px;
	width:19%;
	display:inline-block;
	height:60%;
	background-color: red;
	margin:7px;
	margin-top:80px;

}*/
#motherboard{
	display:inline-block;
	height:250px;
	width:250px;
	/*background-color: rgb(51, 49, 49);*/
	margin:4vh auto;
	box-shadow: 5px 5px 1em black , -5px -5px 1em black, -5px 5px 1em black, 5px -5px 1em black;
	border-radius:100%; 
	padding:26px;
	
	background-image: url('./images/chip.jpeg');
	background-size:cover;
	/*position: absolute;*/

}	
	  /*Will provide cirle shape*/


 
#bomb{
	height:20%;
	width:100%;

}
.bomb{
	min-height:80px;
	min-width:80px;
	width:21%;
	height:10vw;
	background-color: beige;
	display:inline-block;
	margin:2px 1%;
	border-radius:10px;
	box-shadow: 5px 5px 1em black , -5px -5px 1em black, -5px 5px 1em black, 5px -5px 1em black;
}
#clock:hover{
	box-shadow: 5px 5px 1em beige , -5px -5px 1em beige, -5px 5px 1em beige, 5px -5px 1em beige;
}
#c4:hover{
	box-shadow: 5px 5px 1em beige , -5px -5px 1em beige, -5px 5px 1em beige, 5px -5px 1em beige;
}


#chip{
	height:50%;
	width:50%;
	background-color: rgb(31, 31, 31);
	display:inline-block;
	background-image:url('images/warning.jpg');
	background-size: contain;
}
.wiring{
	border-radius:16px;
	background-color: grey;
	border: 1px solid black;
	}
#ones{
	height:24%;
	width:50%;
	
	margin: 0 auto;
	text-align:center;

}
#twos{
	height:50%;
	width:22%;
	
	display:inline-block;


}
#threes{
	height:50%;
	width:22%;
	
	display:inline-block;

}
#fours{
	height:24%;
	width:50%;
	
	margin:0 auto;
	text-align: center;
}
.wire{
	box-shadow: -5px 0px 1em black, 5px 0px 1em black;

}

#red{
	height:100%;
	width:20%;
	background: linear-gradient(to right,black,red,red,red,red,black);
	display:inline-block;
	margin: 0 5px;
}
#blue{
	background: linear-gradient( black,blue,blue,blue,blue,black);	
	width:100%;
	height:15%;
	margin-top:25px;

}
#green{
	height:100%;
	width:20%;
	background: linear-gradient(to right,black,green,green,green,green,black);
	display:inline-block;
	margin: 0 10px;
}
#purple{
	background: linear-gradient( black,purple,purple,purple,purple,black);
	width:100%;
	height:15%;
	margin-top:35px;
}
#white{
	background: linear-gradient( grey,white,white,white,white,grey);
	width:100%;
	height:15%;
	margin-top:35px;
}
#black{
	height:100%;
	width:20%;
	background: linear-gradient(to right,#2d2d2d,black,black,#2d2d2d);
	display:inline-block;
	margin: 0 10px;
}
#orange{
	background: linear-gradient( black,orange,orange,orange,orange,black);	
	width:100%;
	height:15%;
	margin-top:47px;
}
#yellow{
	height:100%;
	width:20%;
	background: linear-gradient(to right,black,yellow,yellow,yellow,yellow,black);
	display:inline-block;
	margin: 0 5px;

}
#pink{
	height:100%;
	width:20%;
	background: linear-gradient(to right,black,pink,pink,pink,pink,black);
	display:inline-block;
	margin: 0 5px;
}
#chipMessage{
	color:beige;
	line-height:2.9;
	width:85%;
	display:inline-block;
}



.new{
	height:17%;
	width:27%;
	display:inline-block;
	box-shadow: 0px 3px 6px beige;
	border-radius:100%;
	/*background-color: black;*/
	list-style:none;
}
.strong{
	border-radius:0px;
	border:1px solid black;
}
.Sequence{
	height:100%;
}
.display{
	height:70%;
}
#c4 {
	background-image: url('images/boom.png');
	background-size:cover;
	background-repeat: no-repeat;

}
#danger{
	background-image: url('images/explosion.jpeg');
	background-size:cover;
	background-repeat: no-repeat;
	min-width:100px;
	width:35%;
	vertical-align: top;

}
#clock{
	background-image: url('images/clock.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}


.stats{
	display:inline-block;
	width:60px;
	height:60px;
	border-radius: 100%;
	background-color: black;
	color:beige;
	font-size:40px;
	padding:10px;
	margin-top:10px;
	box-shadow: 2px 1px 10px beige , 2px -1px 10px beige;


}


/*spin levels*/
.spinner{
	transform:rotate(360000deg);
	transition:7000s;
	
}
.spinnertwo{
	transform:rotate(-360000deg);
	transition:5000s;
	
}
.spinnerfour{
	transform:rotate(-360000deg);
	transition:2000s;
	
}
.spinnerthree{
	transform:rotate(+360000deg);
	transition:2500s;
	
}
.explode{
	transform:none;
	/*left:-50px;*/
	transform: translateX(50px);	
}
.spas{
	transform:rotate(720deg);
	transition: 1s;
}
/*top*/
#logo{
	height:90px;
	width:90px;
	box-shadow: 5px 5px 1em beige , -5px -5px 1em beige, -5px 5px 1em beige, 5px -5px 1em beige;
	margin: 10px 19px;
	border-radius:100%;
	display:inline-block;
	float:right;
}
h1{
	display:inline-block;
	margin:12px 10px;
	font-family:cursive;
	font-size: 3em;
	font-weight: bold;
	color:beige;
	text-shadow: 2px 2px black;


}
@media screen and (max-width: 890px){
	#right{
		width:39%;
	}
	#left{
		width:60%;
	}
	#clue{
		height:60%;
	}
	#message{
		height:36%;
		line-height: 2;
	}
	.bomb{
		width:10vw;
		height:10vw;

	}	
}
@media screen and ( max-width:663px) {
	#right{
		display:none;
	}
	
	#left{
		width:100vw;
	}
	#display{
		opacity:1;
	}
	.bomb{
		width:21vw;
		height:21vw;

	}	

}

@media screen and ( max-width:663px) and (min-width:520.01px){
	#bomb{
		width:20%;
		float:left;
		margin-top:34px;
	}
	#danger{
		width:21vw;
	}

}


@media screen and ( max-width:520px) {
	
}




/*996pxmediaquery needed*/



